body{
    /* background-color: rgb(161, 199, 180); */
     background-color: #eaf7f5;
     margin: 20px;
}

hr{
    background-color: #eaf7f5;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-width: 4px;
}

h1 , h3 {
    color: #66BFBF;
}

.button{
    display: inline-block;
    padding: .75em 2em;
    background: slateblue ;
    color: greenyellow;
    border-radius: .25em;
    font-style: italic;
}

label:hover{
    color: orangered;
    font-style: inherit;
}